*{
    padding:0px;
    margin: 0px;
    font-size: 18px;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}
/* ----------------------------------------------------- */
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav{
    display: flex;
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    padding: 20px;
    box-sizing: border-box;
}

.header img{
    vertical-align: top;
}

.header .icon i{
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
}

li { /*以下是nav-item動畫*/
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
  
li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #672E45;
    transition: width 0.3s;
}

li:hover:before {
    width: 100%;
}

#menu_control,.menu_btn{
    display: none;
}
/* ----------------------------------------------------- */
/*  background*/
.banner{
    position: relative;
    width: 100%;
    margin-top: 84px;
}

.banner-pic img{
    width: 100%;
    vertical-align: top;
}
/* ----------------------------------------------------- */
/* chef-introduce */
.introduce{
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.introduce-title span{
    font-size: 44px;
    line-height: 60px;
    font-weight: 600;
}

.introduce-title{
    text-align: center;
}

.introduce-text{
    width: 400px;
    line-height: 30px;
    font-weight: 400;
}

.introduce-pic img{
    width: 100%;
    transition: transform 0.5s ease-in-out;
    vertical-align: top;
}

 .introduce-pic img:hover{
    animation: hover-jump 0.5s ease-in-out infinite;
 }

 @keyframes hover-jump { /*圖檔動畫*/
0% {
    transform: rotate(0);
}
50% {
    transform: rotate(-15deg);
}
100% {
    transform: rotate(15deg);
}
}

.video-container { /*以下是圖檔影片*/
    width: 40%;
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  }

  .video-container video{
    width: 100%;
  }

  .close-button {
    position: absolute;
    top: 0;
    right:0;
    cursor: pointer;
    font-size: 24px;
  }

  /* 點擊圖檔影片背景模糊效果 */
  .blur-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    -webkit-backdrop-filter: blur(8px); /* 調整模糊效果的程度 */
    backdrop-filter: blur(8px); /* 其他瀏覽器支持的模糊效果 */
    pointer-events: none; /* 防止模糊背景上的元素接收點擊事件 */
  }
/* ----------------------------------------------------- */
/* 輪播圖 */
.carousel{
    width: 100%;
    margin-top: 200px;
}

.owl-carousel {
    display: flex;
}
/* ----------------------------------------------------- */
/* 新品上市 */
.coming-soon{
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.coming-soon-product{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
   
}

.coming-soon-product .product{
    width: 180px;
}

.product-pic img{
    width: 100%;
}

.product-pic img:hover{
    transform: scale(1.4);
}

.coming-soon-title h2{
    font-size: 44px;
    padding: 200px;
    box-sizing: border-box;
}

.product-name{
    margin-top: 10px;
}

.product_first{
    grid-area:2/1/3/2 ;
}

.product_second{
    grid-area: 1/2/2/3;
}

.product_third{
    grid-area: 2/3/3/4;
}

.product_fourth{
    grid-area: 1/4/2/5;
}

.product_fifth{
    grid-area: 2/5/3/6;
}

.product_sixth{
    grid-area: 1/6/2/7;
}

.product_seventh{
    grid-area: 2/7/3/8;
}
/* ----------------------------------------------------- */
/* 關於我們 */
.about-us{
    max-width: 1280px;
    margin: auto;
}

.about-us-pic{
    width: 500px;
}

.about-us-pic img{
    width: 100%;
    vertical-align: top;
    transform: rotate(-5deg);
}

.content-2 .about-us-pic img{
    transform: rotate(5deg);
}

.about-us-content{
    display: flex;
    margin-top: 50px;
}

.about-us-text{
    width: 600px;
    margin: auto;
    line-height: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.about-us-title h2{
    font-size: 44px;
    padding: 200px;
    box-sizing: border-box;
    text-align: center;
}

.about-us-text h3{
    font-size: 36px;
    margin-bottom: 40px;
}

.about-us .content-2{
    flex-direction: row-reverse;
}
/* ----------------------------------------------------- */
/* Join our newsletter */
.join-our-newsletter{
    background-color: #672E45;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 200px;
    justify-content: space-around;

}

.newletter-title h2{
    text-align: center;
    font-size: 44px;
    color: #fff;
}

.newsletter-text{
    display: flex;    
}

.newsletter-text p{
    width: 250px;
    color: #fff;
    line-height: 40px;
}

.newsletter-text i {
    font-size: 80px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    transform: rotate(-15deg);
}

.newsletter-input p{
    max-width: 520px;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

.newsletter-input input{
    background-color:rgba(255, 255, 255, 0.5); 
    border: 1px solid #fff;
    padding: 15px;
    width: 350px;
}

.newsletter-input input::placeholder{
    color: #fff;  
}

.newsletter-input button{
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid black;
}
/* ----------------------------------------------------- */
/* footer */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    vertical-align: top;
}

.footer-info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.footer-logo{
    padding: 30px;
    box-sizing: border-box;
}

.brand,.help,.more-info{
    display: flex;
    flex-direction: column;
}

.footer-info h3{
    font-size: 36px;
    margin-bottom: 10px;
}

.footer-info a{
    text-decoration: none;
    line-height: 40px;
}

.follow-us a{
    padding: 20px;
    box-sizing: border-box;
}

.follow-us i{
    font-size: 24px;
}

.toggle-icon{
    display: none;
}

.copyright{
   text-align: center;
   padding: 15px;
   box-sizing: border-box;
}

.copyright p{
   font-size: 16px;
}
/* ----------------------------------------------------- */
/* TOP鍵 */
button img{
    vertical-align: top;
    width: 50px;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 50px; 
    background:none;
    cursor: pointer; 
    opacity: 0.5;
    border: none;
    z-index: 1;
  }
  #myBtn:hover {
    opacity:0.8; 
  }
/* -----------------------------媒體查詢----------------------------- */
@media screen and (max-width:768px){
    /* header-漢堡 */
    #menu_control{
        position: absolute;
    }

    .header{
        position: relative;
    }

    .header .icon {
        margin-left: auto;
        display: flex;
    }
    
    .menu_btn{
        position: relative; 
        width: 40px;
        height: 40px;
        display: block;
        cursor: pointer;
    }
    
    .menu_btn span{
        width: 1px;
        height: 1px;
    }
    
    .menu_btn::before{
        content:'';
        position: absolute;
        height: 2px;
        left: 2px;
        width: 36px;
        background-color:black;
        top:0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px black,0px -8px 0px black;
    }
    
    nav{
        width: 100%;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 100%;
        left: -100%;
        display: flex;
        flex-direction: column;
    }
    
    nav li a{
        display: block;
        padding: 10px 20px;
        border-bottom: 2px solid #672E45;
    }
    
    #menu_control:checked ~ .header nav{
        left: 0;
    }

    /* header-icon */
    .header .icon i{
        font-size: 18px;
        padding: 5px;
        padding-right: 15px;
        box-sizing: border-box;
    }

     /* header-img */
    .header .logo img{
        width: 60%;
    }

    /* header- li動畫 */
    li:before {
        display: none;
    }
/* ----------------------------------------------------- */
    /* background */
    .banner{
        position: relative;
        width: 100%;
        margin-top: auto;
    }

    .banner-pic img{
        width: 100%;
        vertical-align: top;
    }
/* ----------------------------------------------------- */
    /* chef-introduce */
    .introduce{
        flex-direction: column;
        margin-top: 20px;
    }

    .introduce-title span{
        font-size: 22px;
        line-height: 40px;
    }

    .introduce-pic{
        width: 70%;
        margin-top: 20px;
    }

    .introduce-text{
        width: 350px;
        margin-top: 20px;
        line-height: 40px;
    }

    .introduce-text p{
        font-size: 14px;
    }

    /* chef-video */
    .video-container { /*以下是圖檔影片*/
        width: 320px;
        padding: 15px;
      }
    
      .video-container video{
        width: 100%;
      }

      .close-button {
        font-size: 16px;
      }

    /* 圖檔動畫 */
    .introduce-pic img:hover{
        animation: hover-jump 0.5s forwards;
     }

     @keyframes hover-jump { 
        0% {
          transform: rotate(0);
        }
        33.333333% {
          transform: rotate(-15deg);
        }
        66.666666% {
            transform: rotate(15deg);
        }
        100% {
          transform: rotate(0);
        }
    }
/* ----------------------------------------------------- */
    /* 輪播圖 */
    .carousel{
        margin-top: 50px;
    }
/* ----------------------------------------------------- */
    /* 新品上市 */
    .coming-soon{
        margin-top: 50px;
    }

    .coming-soon-title h2{
        font-size: 22px;
        padding: 20px;
    }

    .coming-soon-product{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .coming-soon-product .product{
        width: 50%;
        margin-top: 20px;
    }

    .product-pic img{
        width: 60%;
    }

    .coming-soon-product .product span{
        font-size: 14px;
    }

    .coming-soon-product .product_sixth{
        display: none;
    }
/* ----------------------------------------------------- */
    /* 關於我們 */
    .about-us{
        margin-top: 50px;
    }

    .about-us-title h2{
        font-size: 22px;
        padding: 0px;
        padding: 20px;
    }

    .about-us-content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .about-us-pic{
        width: 350px;
    }

    .about-us-pic img{
        transform: rotate(0deg);
    }

    .about-us .content-2{
        flex-direction: column;
    }

    .content-2 .about-us-pic img{
        transform: rotate(0deg);
    }

    .about-us-text{
        width: 100%;
        line-height: 45px;
    }
    
    .about-us-text h3{
        font-size: 20px;
        text-align: center;
    }
    
    .about-us-text p{
        font-size: 14px;
        margin-top: -40px;
    }
/* ----------------------------------------------------- */
    /* Join our newsletter */
    .join-our-newsletter{
        display: flex;
        flex-wrap: wrap;
    }

    .newletter-title,.newsletter-text,.newsletter-input{
        width: 100%;
        justify-content: center;
    }

    .newletter-title h2{
        font-size: 22px;
        line-height: 40px;
    }

    .join-our-newsletter{
        margin-top: 50px;
    }

    .newsletter-text i{
        font-size: 50px;
    }

    .newsletter-text p{
        font-size: 14px;
        line-height: 30px;
    }

    .join-our-newsletter .newsletter-text{
        margin-top: 20px;
    }

    .newletter-title h2 br{
        display: none;
    }

    /* subscribe */
    .newsletter-input input{
        width: 230px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        margin-top: 20px;
    }

    .newsletter-input button{
        padding: 11px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .newsletter-input p{
        font-size: 14px;
        max-width: 330px;
        margin: auto;
        margin-top: 10px;
        line-height: 30px;
    }

    .newsletter-input form{
        text-align: center;
    }
/* ----------------------------------------------------- */
    /* footer */
    .footer-info{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .footer-info .brand,.footer-info .help,.footer-info .more-info,.footer-info .follow-us{  
        width: 100%;
    }
    
    footer .footer-info h3{
        font-size: 20px;
    }

    footer .footer-info a span b{
        font-size: 14px;
    }

    .footer-logo img{
        width: 80%;
    }

    .footer-logo{
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
    }

    .footer-info .toggle ~ a {
        display: none;
    }

    .footer-info .toggle.active + a {
        display: block; 
    }

    .toggle {
        cursor: pointer;
    }

    .toggle-icon{
        display: inline;
        float: right;
    }

    footer h3{
        border-bottom: 1px solid black;
        padding: 15px;
        box-sizing: border-box;
    }

    footer a{
        padding: 15px;
        box-sizing: border-box;
    }

    .links-wrapper{
        display: flex;
    }

    .follow-us .links-wrapper a{
        display: none;
    }

    .copyright p{
        font-size: 14px;
    }
/* ----------------------------------------------------- */
    /* TOP鍵 */
    #myBtn { 
        bottom: 10px; 
        right: 10px;  
      }
/* ----------------------------------------------------- */
}








